
#unavbar-span {
    position: relative;
    left: 60%;
}

.brand-span{
    height: 45px;
    line-height: 45px;
    display: inline-block;
    vertical-align: middle;
}

#brand-img-span {
    width: 65px;
    height: 50px;
}

#brand-image {
    z-index: 3;
    padding: 2px;
    padding-left:  10px;
    padding-right: 10px;
    width: 48px;
    height: 48px;
}

.unav-menu-item {
    height: 48px;
    line-height: 48px;
    text-decoration: none;
    color: black;
    display: inline-block;
    vertical-align: middle;
}

.unav-menu-item:hover {
    color: #0066FF;
}

#brand-title {
    position: relative;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 21px;
}



#p-header-wrapper{
    position: absolute;
    width: 100%;
    min-width: 1024px;
    height: 50px;
    top: 0px;
    left: 0px;
    background: #F5F5F5;


    /*background: -webkit-linear-gradient( black,#F5F5F5 );
    background: -o-linear-gradient( black,#F5F5F5 );
    background: -moz-linear-gradient( black,#F5F5F5 );
    background: linear-gradient( black,#F5F5F5 );*/
    
    border-top: #003366 1px solid;
    border-bottom: #003366 1px solid;
    box-shadow: 3px 3px 2px #A8A8A8;
    border-radius: 3px 3px 3px 3px;
}

#p-content-wrapper {
    position: absolute;
    top: 73px;
    left: 50%;
}

#p-content-div{
    position: relative;
    left: -475px;
    width: 950px;
    height: 800px;
    border-radius: 3px 3px 3px 3px;
}



#movie-list-wrapper {
    position: relative;
    top: 24px;
    
    padding: 5px;
    margin:  0;
    width:  210px;
    height: 627px;
    
    display: inline-block;
    
/*    background-color: #C2E0FF;*/
    border: #003366 1px solid;
    border-radius: 7px 7px 7px 7px;
}

#movie-list-scroll {
    position: relative;
    top: 2px;
    left: -4px;
    width: 104%;
    max-height: 621px;
    max-width: 104%;
    height: 621px;
    
    background-color: white;
    border-top:    #003366 1px solid;
    border-bottom: #003366 1px solid;
    
    overflow-y: scroll;
    overflow-x: auto;
}


#movie-list {
    padding: 0;
    margin:  0;
    list-style: none;
}

.movie-list-row {
    margin:  0;
    padding: 0;
    margin-bottom: 2px;
    min-height: 18px;
    height: auto;
    line-height: auto;
    text-align: center;
}

.movie-item-ref {
    width: 99%;
    vertical-align: middle;
    display: inline-block;
    min-height: 18px;
    height: auto;
    line-height: auto;
    text-decoration: none;
    font-size: 13px;
    color: black;
    border-radius: 3px 3px 3px 3px;
}

.movie-item-ref:hover {
    background-color: #F8F8F8; 
}

.selected-movie {
    color: #0066FF;
    background-color: #F8F8F8;
}

#movie-details-wrapper {
    position: relative;
    top: -584px;

    width:  700px;
    height: 610px;
    
    display: inline-block;

    border-radius: 7px 7px 7px 7px;
}

#filter-wrapper {
    position: relative;
    top: 4px;
    
    width: 100%;
    height: 30px;
    line-height: 30px;
    
    padding: 5px;
    margin:  5px;

    display: inline-block;
    vertical-align: middle;    
    border-radius: 7px 7px 7px 7px;
    border: #003366 1px solid;
}

#filter-label {
    display: inline-block;
    width: 100px;
    text-align: center;
}

#filter-input-wrapper {
    display: inline-block;
    width: 80%;
}

#filter-input {
    width: 100%;
}

.filter-td {
    position: relative;
    display: inline-block;
    height: 30px;
    line-height: 30px;
}

#details-wrapper {
    padding: 5px;
    margin:  5px;

    width: 100%;
    height: 580px;
    
    border-radius: 7px 7px 7px 7px;
    border: #003366 1px solid;
}
